.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  background-color: #add8e6; /* Light Blue */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  cursor: pointer;
}

#computer-player-container .cell:hover {
  background-color: blue;
}

.clicked-cell {
  cursor: default;
}
