.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  background-color: var(--footer-bg);
}

.footer-container .footer-text {
  font-weight: bold;
  font-size: 2rem;
  padding-right: 20px;
}

.footer-container div:not(:last-child) {
  border-right: 3px solid black;
}
