.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size, 40px));
  grid-template-rows: repeat(10, var(--cell-size, 40px));
  cursor: pointer;
}

.cell {
  width: var(--cell-size, 40px);
  height: var(--cell-size, 40px);
  border: 1px solid #000;
  background-color: #add8e6; /* Light Blue */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  cursor: pointer;
}

#computer-player-container .cell:hover {
  background-color: green;
}

.winner-announcer-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

.winner-announcer {
  z-index: 4;
  display: flex;
  flex-direction: column;
}
