.main-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 8vw;
}

.player-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player-container p {
  font-size: 1.2rem;
  font-weight: bold;
}

.border {
  width: 5px;
  height: auto;
  background-color: black;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(10, var(--cell-size, 40px));
  grid-template-rows: repeat(10, var(--cell-size, 40px));
  cursor: pointer;
  box-shadow: 0px 0px 20px -3px rgba(0, 0, 0, 0.54);
}

.cell {
  width: var(--cell-size, 40px);
  height: var(--cell-size, 40px);
  background-color: var(--cell-bg);
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
}

#computer-player-container .cell:hover {
  background-color: var(--cell-hover-bg);
}

.winner-announcer-wrapper {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--announce-winner-bg);
  opacity: 0.8;
}

.winner-announcer {
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  background-color: var(--main-bg);
  border-radius: 5px;
}

.winner-announcer p {
  font-size: 2rem;
  font-weight: bold;
}

.winner-announcer button {
  font-size: 1.1rem;
  font-weight: bold;
  width: fit-content;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--hovered-ship-bg);
}

.winner-announcer button:hover {
  background-color: var(--cell-bg);
  cursor: pointer;
}
