* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Megapunch";
  src: url("./assets/Megapunch-regular.ttf") format("truetype");
}

.header-main-footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: center;

  font-family: "Megapunch";
  letter-spacing: 3px;
  font-size: 6rem;
}
