* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --main-bg: #fafafa;
  --ship-placer-bg: white;
  --hovered-ship-bg: #6b7280;

  --cell-bg: #bfdbfe;
  --cell-hover-bg: #65a30d;

  --footer-bg: #fde68a;

  --announce-winner-bg: gray;
}

@font-face {
  font-family: "Megapunch";
  src: url("./assets/Megapunch-regular.ttf") format("truetype");
}

.header-main-footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-bg);
}

h1 {
  display: flex;
  justify-content: center;

  font-family: "Megapunch";
  letter-spacing: 3px;
  font-size: 6rem;
}
